# Data Science Tools and Ecosystem

## Introduction
### Welcome to this notebook!

### Data Science Languages:
- Python
- R
- SQL

### Data Science Libraries:
- Pandas
- NumPy
- Matplotlib

### Data Science Tools:
| Tool       | Description        |
|------------|--------------------|
| Jupyter    | Notebook           |
| TensorFlow | Machine Learning   |
| Tableau    | Data Visualization |

## Arithmetic Expressions
Let's explore some arithmetic expressions.

### Create a code cell to multiply and add numbers

In [33]:
a=5
b=8
print("Multiplication:", a * b)
print("Addition:", a + b)

Multiplication: 40
Addition: 13

### Create a code cell to convert minutes to hours

In [39]:
minutes = 120
hours = minutes / 60
print("120 minutes is equal to", hours, "hours")

120 minutes is equal to 2.0 hours

## Objectives:
- Learn Markdown
- Practice Python scripting

## Author:
KENFACK DJOUMETIO Channel Ange